################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KalakariWebUi/FileContentIndex/38a33898-ca57-47e4-92ee-2cfaecd45a9c.vsidx
/.vs/KalakariWebUi/FileContentIndex/987520dc-532c-4136-9331-82804700ce68.vsidx
/.vs/KalakariWebUi/v17/.wsuo
/.vs/KalakariWebUi/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/.vs/KalakariWebUi/FileContentIndex/b08ea680-f25a-4470-99f0-32aa5b3e6aab.vsidx
/.gitignore
/.vs/KalakariWebUi/FileContentIndex/1a87dd81-37db-4abf-b185-307f8607e1ae.vsidx
/.vs/slnx.sqlite
/.vs/KalakariWebUi/FileContentIndex/6a7b3f35-d5eb-4489-a3b3-6617ccfe28ad.vsidx
/.gitignore
/.vs/KalakariWebUi/FileContentIndex/e4770984-a4da-44ba-8753-66c81d326fcd.vsidx
/.vs/KalakariWebUi/FileContentIndex/408e84a5-b19b-4735-8923-e6085e102288.vsidx
/.vs/KalakariWebUi/FileContentIndex/61b64b94-bb67-444e-953f-1bd1609bac24.vsidx
/.vs/KalakariWebUi/FileContentIndex/9ce739ca-54cb-4995-b4ee-ec4a0fb51611.vsidx
/.vs/KalakariWebUi/FileContentIndex/e60775a7-82d7-4a6d-ba35-d08d4643e423.vsidx
/.vs/KalakariWebUi/v17/DocumentLayout.backup.json
/.vs/KalakariWebUi/config/applicationhost.config
